input {
	background: #24246B;
	color: white;
	border:1px solid black;
}
	.bPrice {
		margin:2px;
		width:10em;
		height:3em;
		font-size: 15px;
	}	
		.bPrice:hover{
			background: #7070B8;
		}
		.bPrice:focus{
			background:#E68A00;
		}

@media only screen and (max-width: 2360px){
	body {
		margin: 0;
		background:#E8EDF2;
		width: 100%;
	}
/*	#wrapper{
		position:absolute;
		width:100%;
		height:100%;
		margin:0 auto;
	}*/
	#header {
		position:absolute; 
		height: 8%;
		background:#24246B;
		width:100%;
	}
		.text{
			position: relative;
			top: 25%;
			text-align: left;
			color: white;
			font-size: 20px;
			text-indent: 1%;
		}
		.logo{
			position: relative;
			width: 50px;
			float:left;
		}
		.button{
			position: absolute;
			background: #E68A00;
			width:8.5em;
			height:2.5em;
			left: 90%;
			top: 17%;
		}
			.button:hover{
				background: #EEAD4D;
			}
	#content {
		position: absolute;
		top: 8%;
		width:70%;
		height:92%;
		background:transparent;
	}
	#navigation {
		position:absolute;
		top: 8%;
		width:30%;
		height:92%;
		background: transparent;
	/*	border: 1px solid #CCC; */
		right: 0px;

	}
		.avatar{
			float:left;
			min-width: 10%;
			min-height:10%;
			max-width: 25%;
			max-height: 25%;
			}
		.pos{
			top:50px;
		}

#AnsField {
	border:1px solid;
	padding: 0.3em 0.3em 0.3em 0.3em;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
	#AnsField.classG {
		border-color: #00CC00;
		color: #00CC00;
	}
	#AnsField.classR {
		border-color: #FF0000;
		color: #FF0000;
	}
	#AnsField.classB {
		color: #000000;
	}
}

#CatField {
	border:1px solid;
	padding: 0.5em 0.5em 0.5em 0.5em;	
	width: 131px;
	height: 1.5em;
	margin: 2px;
	text-align:center;
	font-size: 15px;
}

#PriceField {
	position: absolute;
	width: 10em;
	text-align: center;
}	
	.pos1 {
		left:5em;
	}
	.pos2 {
		left:15em;
	}
	.pos3 {
		left:25em;
	}
	.pos4 {
		left:35em;
	}
	.pos5 {
		left:45em;
	}


