body {
		margin: 0;
		background:#E8EDF2;
		width: 100%;
	}

input {
  	background: linear-gradient(#34508D, #29447D);
	color: white;
	border:1px solid black;
}
#fButton{
	margin:2px;
	width:100%;
	height:2.5em;
	font-size:15px;
}
	.bPrice {
	}	
		.bPrice:hover{
			background: #7070B8;
		}
		.bPrice:focus{
			background:#E68A00;
		}
		.bPrice:disabled{
			background: #D1D5DA;
			color: #8B8E91;
		}
	.bCat{
	}
		.bCat:disabled{
			background: linear-gradient(#FA7700, #E66D00);
			color: #000;
		}
#Choose{
	background: linear-gradient(#35D143, #21B52E);
	border-radius: 5px;
	width: 110px;
	height: 30px;
}
	#Choose:hover {
		background: linear-gradient(#5DDA69,#4DC458);
	}


#CatField {
	border:1px solid;
	padding: 0.5em 0.5em 0.5em 0.5em;	
	width: 131px;
	height: 1.5em;
	margin: 2px;
	text-align:center;
	font-size: 15px;
}

#PriceField {
	position: absolute;
	width: 15%;
	text-align: center;
}	
	.pos1 {
		left:10%;
	}
	.pos2 {
		left:26%;
	}
	.pos3 {
		left:42%;
	}
	.pos4 {
		left:58%;
	}
	.pos5 {
		left:74%;
	}
#DateC{
	position:relative; 
	top:10%;
	left:10%;
	font-size: 14px;
}

@media only screen and (min-width: 720px){
	
/*	#wrapper{
		position:absolute;
		width:100%;
		height:100%;
		margin:0 auto;
	}*/
	#header {
		position:relative; 
		height: 50px;
	  	background: linear-gradient(#34508D, #29447D);
		width:100%;
		margin: auto;
	}
		.text{
			position: absolute;
			top: 25%;
			text-align: left;
			color: white;
			font-size: 20px;
			text-indent: 1%;
			left: 50px;
		}
		.logo{
			position: relative;
			width: 50px;
			float:left;
		}
		.button{
			position: absolute;
			background: linear-gradient(#FA7700, #E66D00);
			width:9em;
			height:2em;
			right:1.5%;
			top: 20%;
		}
			.button:hover{
				background: #EEAD4D;
			}
	#content {

		position: absolute;
		top: 50px;
		width:75%;
		height:100%;
		max-height: 600px;
		background:transparent;
	}
	#navigation {
		position:absolute;
		top: 50px;
		width:25%;
		height:92%;
		background: transparent;
	/*	border: 1px solid #CCC; */
		right: 0px;

	}

	#players {
		position: relative;
		border: 0px solid;
		height:70px;
		width:100%;
		margin-bottom: 20px;
		margin-top:10px;
		font-size: 14px;
	}
		.avatar{
			border:2px solid;
			border-radius: 3px;
			float:left;
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
			}

#AnsField {
	top: 60px;
	border:1px solid;
	padding: 0.3em 0.3em 0.3em 0.3em;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 1%;
	margin-top:1%;
}
	#AnsField.classG {
		border-color: #00CC00;
		color: #00CC00;
	}
	#AnsField.classR {
		border-color: #FF0000;
		color: #FF0000;
	}
	#AnsField.classB {
		color: #000000;
	}
}


