@(elements: helper.FieldElements)

<!--<div class="@if(elements.hasErrors) {error}">
    <label for="@elements.id">@elements.label</label>
    <div class="input">
        @elements.input
        <span class="errors">@elements.errors.mkString(", ")</span>
        <span class="help">@elements.infos.mkString(", ")</span>
    </div>
</div>-->


<fieldset class="@if(elements.hasErrors) {error}">
    <legend>Persönliche Daten</legend>
    <label for="@elements.id">Vorname:</label>
    @elements.input
    <label for="@elements.id">Nachname:</label>
    @elements.input
    <label for="@elements.id">Geburtstag:</label>
    @elements.input
    <div id="error_msg_birthdate" class="hide" role="alert">@elements.errors.mkString("Verwenden Sie bitte folgendes Datumsformat: dd.mm.yyyy (z.B. 24.12.2010).")</div>

    <label>Geschlecht:</label>
    <fieldset class="inputset">
        @elements.input
        <input type="radio" name="gender" id="male" value="m" checked="checked" />
        <label for="male">Männlich</label>
        <input type="radio" name="gender" id="female" value="f" />
        <label for="female">Weiblich</label>
    </fieldset>
</fieldset>